.breadcrumbs {
    height: 40px;
    width: 100%;
}

/* .map{
    height: 100vh;
} */

.search__i {
    box-shadow: 0 1px 4px 5 #b8911d
}

.search__visual {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    ;
}

.search__visual__photo {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.search__header__city {
    letter-spacing: -1px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3px;
    max-width: 570px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.searchbox {
    border: 1px solid red;
    width: 100%
}

.search-bar_slideshow {
    padding: 10px 0 10px;
    border: none;
    background: transparent;
    text-align: center;
    border: 1px solid red
}

.search-bar__form__w {
    position: relative;
    z-index: 3;
    display: inline-block;
    background-color: rgba(0, 162, 190, 0.8);
}

.search-bar__form__input_guests {
    background-position: 100% -280px;
    width: 73px;
}
.guests {
    position: absolute;
    width: 235px;
    padding: 15px;
    background: #fff;
    border: 1px solid #a6a6a6;
}
.guests:before {
    position: absolute;
    top: -7px;
    left: 111px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,0.2);
    content: '';
}

.guests__adults {
    margin-right: 15px;
}
.guests__adults, .guests__children {
    display: inline-block;
}
.guests:after {
    position: absolute;
    top: -6px;
    left: 112px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}
.guests__header {
    font-size: 14px;
    font-weight: bold;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.guests__buttons {
    border: 1px solid #a6a6a6;
    height: 30px;
    width: 90px;
    margin: 8px 0 0;
}
.guests__buttons__button {
    
    height: 28px;
    width: 25px;
    padding: 0px 5px;
    float:left;
    line-height: 28px;
    text-align: center;
    box-shadow: inset 0px 0px 5px #d7d6d6;
    background: #f7f6f6;
    color: #00a2be;
    font-size: 18px;
}
.guests__value {
    width: 38px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    border: 0;
    float: left;
    text-align: center;
    font-size: 14px;
}
.hide {
    display: none;
  }
      
.show{
    display: block;
}
.price_index_notour {
    line-height: 24px;
    font-size: 24px;
    float: none;
}
.price_index__small {
    position: inherit;
    display: inline-block;
    text-align: left;
    font-size: 11px;
    font-weight: normal;
    color: #757575;
    font-style: normal;
    line-height: 11px;
}
.price_index__strong{
    position: inherit;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    font-style: normal;
}
.category, .badge{
    background-color: #0041fd;
}
.badge{
    color:white;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.card-img {
    width: 100%;
    padding-bottom: 66%;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    flex-shrink: 0;
}
.label_photo, .label_instant{
    max-width: 180px;
    background-color: #0041fd;
    top: 0;
    left: 0;
    z-index: 1;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    font-style: normal;
    padding: 2px 5px;
    position: absolute;
}
.label_instant{
    background: #17A2C1;
}