.amenities{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
}
td{
    height: 100px;
}
.datecomponent{
    height: 40px;
    width:100px;
    border-radius: 1mm;

}

.successmodal{
    font-family: 'Kurale', serif !important;
}

tr, td{
    height: 20px;
}

.imageslider{
    height: 350px;
}
.description{
    font-family: serif;
}
.roomtd{
    height: 60px !important;
    width: 100% !important;
}
